img {
    border: 5px solid black;
}
body {
    background-color:  #e2e0df;
}
h1 {
    font-family: Arial;
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
h2 {
    font-family: Arial;
    font-size: 20px;
}
button{
    background-color: rgb(231, 10, 10);
    border: 5px black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
button:hover{
    background-color: rgb(124, 6, 6);
}